.DS_Store
/.build
/.index-build
/build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/
.netrc
.vs
.docc-build/
Package.resolved
*.profraw
.*.sw?
/.vscode
