name: main branch, main toolchain

permissions:
  contents: read

on:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@0.0.6
    with:
      linux_swift_versions: '["nightly-main"]'
      linux_os_versions: '["amazonlinux2", "jammy"]'
      linux_static_sdk_versions: '["nightly-main"]'
      windows_swift_versions: '["nightly-main"]'
      enable_macos_checks: true
      macos_exclude_xcode_versions: '[{"xcode_version": "16.2"}, {"xcode_version": "16.3"}, {"xcode_version": "16.4"}]'
      enable_wasm_sdk_build: true
      wasm_sdk_versions: '["nightly-main"]'
