name: Pull request

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      linux_swift_versions: '["nightly-main", "nightly-6.2"]'
      linux_os_versions: '["amazonlinux2", "jammy"]'
      windows_swift_versions: '["nightly-main", "nightly-6.2"]'
      enable_macos_checks: true
      macos_exclude_xcode_versions: "[{\"xcode_version\": \"16.2\"}, {\"xcode_version\": \"16.3\"}]"
      enable_wasm_sdk_build: true
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift"
      docs_check_enabled: false
      format_check_enabled: false
      api_breakage_check_enabled: false
